{% extends "student_base.html" %}
{% load static %}
{% block content %}
{% if not request.session.email %}
<script>
alert("you have to login first");location.href="/login/"
</script>
{% endif %}
<div class="row heading mt-3">
            <div class="col-sm-6 mx-auto">
    <div class="text-center fs-3">Lectures<b class="text-mycolor1"> Video <i class="fa-solid fa-video"></i></b>
    <p class="text-muted fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <hr>
    </div>
</div>
<div class="row ">
  <div class="col-sm-10  mx-auto bg-light shadow-lg my-1">
<div class="row py-4">
  <div class="col-sm-4">
    <ul class="list-group">
  <li class="list-group-item bg-mycolor1 fw-bold">CATEGORY</li>
  <li class="list-group-item">PYTHON</li>
 
  </div>
  <div class="col-sm-8">
    <!--start lecture card-->
 <div class="card mb-3 border-0 shadow-lg my-2">
  <div class="row g-0">
    <div class="col-md-4">
      <iframe class="img-thumbnail" src="https://www.youtube.com/embed/fr1f84rg4Nw?si=uqrKXLedl8Ao3QHh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">15 Minute Python Tutorial For Beginners In Hind</h5>
        <p class="card-text">This lecture introduces the basics of Python programming, covering syntax, variables, data types, and simple input/output operations. Perfect for beginners starting their coding journey.</p>
        <p class="card-text"><small class="text-body-secondary"><b>Posted Date:</b> 2023-03-15</small><span class="badge bg-mycolor1 float-end">Python</span></p>

      </div>
    </div>
  </div>
</div>
    <!--end lecture card-->
  </div>
</div>
  </div>
</div>
{% endblock %}