{% extends "student_base.html" %}
{% load static %}
{% block content %}
{% if not request.session.email %}
<script>
alert("you have to login first");location.href="/login/"
</script>
{% endif %}
  <div class="row heading mt-3">
            <div class="col-sm-6 mx-auto">
    <div class="text-center fs-3">E-<b class="text-mycolor3"> Notes <i class="fa-solid fa-book"></i></b>
    <p class="text-muted fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 p-4 bg-light shadow-lg mx-auto">
        <div class="row">
          {% for r in notes %}
        <!--start notescard-->
        <div class="col-sm-6">
       
 <div class="card mb-3 border-0 shadow-lg my-2">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="{% static 'images/pdf.png' %}" class=" img-fluid shadow-lg"> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{r.titele}}</h5>
        <p class="card-text">{{r.notes_info}}</p>
        <p class="card-text"><small class="text-body-secondary"><b>Posted Date:</b>{{r.posted_date}}</small>
          <span class="badge bg-mycolor1 float-end btn"><i class="fa-solid fa-download">
            
          </i> <a href="/{{r.notesfile}}">download</a></span></p>

      </div>
    </div>
  </div>
</div>

        </div>
        <!--end notescard-->
        {% endfor %}

       
</div>
{% endblock %}