{% extends "student_base.html" %}
{% load static %}
{% block content %}
{% for r in userinfo %}
{% if not request.session.email %}
<script>
alert("you have to login first");location.href="/login/"
</script>
{% endif %}
<div class="row py-2">
  <p  class="fs-3 text-center">User<b class="text-mycolor1">Profile</b></p>
  <div class="col-sm-10 mx-auto">
    <div class="row py-3 ">
      <div class="col-sm-6 mx-auto">
        <div class="card position-relative shadow-lg rounded-3 mt-5 mb-5 pb-3 border border-0" style=" min-height: 200px;">
        <img src="/{{r.picture}}" class="img-fluid profileimg position-absolute top-0 start-50 translate-middle"/>
        <h3 class="text-center username fs-1 text-uppercase">{{r.name}} <b class="text-mycolor1"></b></h3>
        <p class="text-center m-0">{{r.mobile}}</p>
        <!--icon lagan hai-->
        <p class="text-center">
          <i class="fa-brands fa-square-facebook  ic"></i>
                    <i class="fa-brands fa-twitter  ic"></i>
                    <i class="fa-brands fa-youtube  ic"></i>
                    <i class="fa-brands fa-linkedin ic"></i>
        </p>
        <!--icon end-->
        <div class="row g-0 py-1 ps-5">
          <div class="col-3 ps-3">
          <i class="fa-solid fa-phone ic"></i>mob .No
          </div>
          <div class="col-9">
           {{r.mobile}}
          </div>
        </div>
         <div class="row g-0 py-1 p-5">
          <div class="col-3 ps-3">
          <i class="fa-solid fa-graduation-cap ic"></i> Course
          </div>
          <div class="col-9">
           computerscience
          </div>
        </div>
         <div class="row g-0 py-1 p-5">
          <div class="col-3 ps-3">
          <i class="fa-solid fa-desktop ic"></i>adreess
          </div>
          <div class="col-9">
            {{r.address}}
          </div>
        </div>
         <div class="row g-0 py-1 p-5">
          <div class="col-3 ps-3">
          <i class="fa-solid fa-calendar-days ic"></i> year
          </div>
          <div class="col-9">
            3rd year
          </div>
        </div>
         <div class="row g-0 py-1 p-5">
          <div class="col-3 ps-3">
          <i class="fa-solid fa-building-columns ic"></i>Collage.
          </div>
          <div class="col-9">
               G.P.B.U.
          </div>
        </div>
         
        
        <div class="text-center mt-4"><a class="btn bg-mycolor1"><i class="fa-solid fa-pencil text-light"></i> Edit Profile</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}