{% extends "base.html" %}
{% load static %}
{% block content %}

            <!-- start team -->
      <div class="row team py-3">
        
             <p class="text-center fs-3">Our <b class="text-mycolor1">Team</b></p>
               <div class="col-sm-10 mx-auto">
                  <div class="row py-2">
                     <!-- Team member start -->
                  <div class="col-sm-4">
                     <div class="card  w-75 mx-auto" style="width: 18rem;">
  <img src="{% static 'images/shiv intro.jpg' %}" class="card-img-top img-fluid imgteam" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">shivam yadav</h5>
    <p class="card-text text-center">Team  Leader</p>
    <p class="text-center"><i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                       <i class="fa-brands fa-instagram"></i></p>

  </div>
</div>
                  </div>
                      <!-- Team member end -->
                        <!-- Team member start -->
                  <div class="col-sm-4">
                     <div class="card  w-75 mx-auto" style="width: 18rem;">
  <img src="{% static 'images/meenal344.jpg' %}" class="card-img-top img-fluid imgteam" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Meenal Singh</h5>
    <p class="card-text text-center">Frontend Developer</p>
    <p class="text-center"><i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                       <i class="fa-brands fa-instagram"></i></p>

  </div>
</div>
                  </div>
                      <!-- Team member end -->
                        <!-- Team member start -->
                  <div class="col-sm-4">
                     <div class="card  w-75 mx-auto" style="width: 18rem;">
  <img src="{% static 'images/princy.jpg' %}" class="card-img-top img-fluid imgteam" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Princy Shrivastav</h5>
    <p class="card-text text-center">Database Management</p>
    <p class="text-center"><i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                       <i class="fa-brands fa-instagram"></i></p>

  </div>
</div>
                  </div>
                      <!-- Team member end -->
                  </div>
               </div>

          </div>
      
         <!-- end team -->
{% endblock %}